# Node
node_modules/
dist/
*.log
frontend/public/tflite-wasm/
frontend/public/models/*.tflite

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
.DS_Store
